
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                 © <script>document.write(new Date().getFullYear())</script> - Crypto Signal With AI | All rights reserved.
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/toastr/js/toastr.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <script src="/assets/libs/moment/moment-with-locales.min.js"></script>
    <script src="/assets/libs/dataTable/datatables.min.js"></script>
    <script src="/pages/global.datatables.js"></script>
  </body>
</html>