<!doctype html>
<html lang="en" data-layout="horizontal" data-sidebar="dark" data-sidebar-size="sm" data-sidebar-image="none" data-preloader="preloader" data-layout-width="fluid" data-layout-position="scrollable" data-layout-style="default" data-topbar="light">
  <head>
    <meta charset="utf-8" />
    <title><%= sub_title %> | Crypto Signal With AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/layout.js"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/dataTable/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/libs/toastr/css/toastr.min.css" rel="stylesheet" type="text/css" />
  </head>